/* Here is your custom css styles. */
@font-face{
    font-family: 'myFont';
    src: url('../font/myFont.ttf');
}

.diy-font{
    font-family: 'myFont';
}
/* 修改首页轮播的标题大小 */
@media only screen and (max-width: 601px) {
    .bg-cover .title {
        font-size: 1.0rem;
    }
}

/* 修改博客标题的字体大小 */
@media only screen and (max-width: 601px) {
    header .brand-logo .logo-span {
        font-size: 1.0rem;
    }
}
